@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.main-container {
  float: left;
  position: relative;
  left: 50%;
}
.fixer-container {
  float: left;
  position: relative;
  right: 50%;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.SubInfo {
	font-family: Calibri, sans-serif;
	font-size: 14px;
}

.rounded {
	border-radius:16px
}

.hover-opacity {
	opacity: 1
}

.hover-opacity:hover {
	opacity: 0.6
}


.hover-colour {
	color:black;
}

.hover-colour:hover {
	color: #f9cb9cff;
}

.hover-shadow:hover {
	text-shadow: 2px 2px 5px grey;
}

.notnav {
	margin: 5px;
	padding : 5px;
	border : 5px;
}

body {
	background-color: #e6eff1;
	overflow-x: hidden
}

h1, h2, h3 {
	font-family:Montserrat;
}

h4, h5, h6 {
	font-family: 'Segoe UI';
	color: #819ca1
}


t {
	font-family:Raleway
}

.emptycolumn {
	width: 10%;
	background-color: #e6eff1;
	float: left;
}

.notemptycolumn {
	width: 90%;
	float:right;
}

.bottom {
	margin-top: auto;
	padding-bottom: 8px
}

.subjectsquare {
	background-color: #f9cb9cff;
	border-radius:16px;
	width:20% !important;
	text-align: center;
	height: 230px;
	display: inline-flex;
	flex-direction: column;
	float:left;
	margin-right: 16px;
	margin-top: 16px;
	object-fit: contain;
}

.subjectsquarefull {
	background-color: #f9cb9cff;
	border-radius:16px;
	width:20% !important;
	text-align: center;
	height: 230px;
	display: inline-flex;
	flex-direction: column;
	float:left;
	margin-right: 16px;
	margin-top: 16px;
	object-fit: contain;
}

.subjectsquare img, h2{
	text-align: center;
	padding: 0px 0px 0px 0px!important;
	display: inline;
	overflow: hidden;
	margin: auto;
}

.subjectsquare:hover {
	box-shadow: 2px 2px 5px grey
}


/*Navbar*/

.navbar {
	background-color: #d3e3e7;
	height: 110px;
}

.navbar br {
	display: none;
}

.navbar a {
	display:inline-block;
	font-family:Comfortaa;
	float:left;
	padding: 25px 8px 8px 8px;
	background-color: #e6eff1;
	text-align: center;
	margin-left: 8px;
	margin-right: 8px;
	margin-top: 16px;
	height: 40px;
	width: 300px;
	border-radius:32px;
	font-size: 18px;
}

#active {
	background-color: #a2c4c9;
	box-shadow: inset 2px 2px 5px grey;
}

.navbar a:hover {
	background-color: #f9cb9c;
	box-shadow: 2px 2px 5px grey;
	border-radius: 64px
}

.navbar li {
	float: left;
	list-style: none;
}

#MainProPic {
	display: block;
}


#BackupProPic {
	display: none;
}

.navbar button {
	background-color: #d3e3e7
}

.navbar button:hover {
	background-color: #f9cb9c;
}

/*Scrollbar*/
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
	background: #e6eff1; 
	border-radius: 32px
}
 
::-webkit-scrollbar-thumb {
	background: #f9cb9cff; 
	border-radius: 32px
}

::-webkit-scrollbar-thumb:hover {
  background: #c28c55; 
}

/*Responsive Layout*/
@media screen and (max-width : 1570px ){
	.navbar {
		height: 200px;
	}
	.homepage-subjectsquare {
		width: 25%
	}
}
@media screen and (max-width : 905px ){
	.navbar br {
		display: block;
	}
	.navbar {
		height: 300px;
	}
	.homepage-subjectsquare {
		width: 90%
	}
	#MainProPic {
		display: none;
	}
	#BackupProPic {
		display: block;
	}
}
@media screen and (max-width : 785px ){
	.navbar a {
		width: 360px;
	}
	.navbar {
		height: 480px
	}
}
@media screen and (max-width : 515px ){

	.navbar {
		height: 580px
	}
}

/*Sidebar*/
/*Sidebar Animation*/

.sidebaranimate {
	position:relative;
	animation:animateright 0.4s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}
}

/*Partial Sidebar*/
.partialsidebar {
	height: 100%;
	width: 400px;
	background-color: #fff;
	position:fixed!important;
	z-index:1;
	overflow:auto;
	float: right;
}

.partialsidebar button {
	background-color: white;
	font-size: 32px;
	padding:32px
}

.partialsidebar button:hover {
	text-shadow: 2px 2px 5px grey;
}

.partialsidebar t, h1, h2, h3, h4, h5, h6, a {
	padding-left: 32px;
	text-decoration: none;
	color: black
}

/*Full Sidebar*/
.fullsidebar {
	height:100%;
	width:100%;
	background-color: #fff;
	position:fixed!important;
	z-index:1;
	overflow:auto;
	float: right;
}

.fullsidebar button {
	background-color: white;
	font-size: 32px;
	padding:32px
}

.fullsidebar button:hover {
	text-shadow: 2px 2px 5px grey;
}

/*Tasks*/
.tasks-topiccolumn {
	background-color: #e6eff1;
	display: block;
	flaot: left;
	width: 20%;
}

.tasks-subjectsquare {
	background-color: #f9cb9cff;
	border-radius:16px;
	text-align: center;
	height: 230px;
	width: 300;
	display: inline-flex;
	flex-direction: column;
	float:left;
	margin-right: 16px;
	margin-top: 16px;
	object-fit: contain;
}

.tasks-subjectsquare:hover {
	box-shadow: 2px 2px 5px grey
}

.tasks-info {
	background-color: #d3e3e7;
	border-radius: 16px;
	width: 78%;
	margin-top: 16px;
	margin-bottom: 16px;
	float: right;
	padding: 8px;
	text-align: center;
	box-shadow: 2px 2px 5px grey;
	max-height: 700px;
	overflow-y: scroll;
	overflow-x: hidden;
}

.tasks-info t {
	font-size: 20px
}

.activetask {
	background-color: #c28c55 !important;
	box-shadow: 2px 2px 5px grey
}

.tasks-topicscroll {
	overflow-x: hidden;
	overflow-y: scroll;
	padding-bottom: 8px;
	height:490px
}

.tasks-beginquiz {
	width: 97%;
	display: inline-block;
	border-radius: 32px;
	background-color: #f9cb9cff;
	font-family:Comfortaa;
	padding: 8px;
	margin: 12px 8px 8px 8px;
	float: left;
}

.tasks-beginquiz:hover {
	box-shadow: 2px 2px 5px grey
}

.tasks-topic {
	width: 90%;
	padding: 8px;
	text-align: center;
	font-family:Comfortaa;
	border-radius: 32px;
	background-color: #f9cb9cff;
	margin-top: 16px
}

.tasks-topic:hover {
	box-shadow: 2px 2px 5px grey
}

.info-scrollbox {
	overflow-x: hidden;
	overflow-y: scroll;
	height: 600px;
	float: right;
	max-height: 1000px;
}

/*Record*/
.record-key {
	background-color: #a2c4c9;
	border-radius: 64px;
	padding: 0px !important;
	width: 89%;
	height: 75px;
}

.record-value {
	background-color: #f9cb9cff;
	border-radius: 64px;
	padding: 0px !important;
	width: 89%;
	margin-top: 16px;
	height: 70px;
}

.record-inside {
	display:inline-block;
	font-family:Comfortaa;
	float:left;
	padding: 8px 8px 8px 8px;
	text-align: center;
	margin-left: 8px;
	margin-right: 8px;
	margin-top: 16px;
	border-radius:32px;
	font-size: 18px;
}

.RI-text {
	width: 20%
}

.RI-divider {
	width: 1%
}

.record-bottom {
	margin-bottom: 16px;
	text-align: center;
	width: 89%;
	padding: 16px;
}

/*Quiz*/
.quiz-quizbox {
	width: 89%;
	margin-top: 36px;
	height: 700px;
	background-color: #d3e3e7;
	border-radius: 16px;
	box-shadow: 2px 2px 5px grey;
	text-align: center;
}

.quiz-quizbox h1, img, t {
    padding: 8px;
}

.quiz-quizbox img {
    border-radius:32px
}

.quiz-button {
    width : 20%;
    padding: 16px;
    border-radius: 8px;
    color: white;
    font-family: Comfortaa;
    margin: 20px;
	opacity: 70%;
}

.quiz-button:hover {
    box-shadow: 2px 2px 5px grey
}

.quiz-left {
    float: left
}

.quiz-right {
    float: right
}

.quiz-blue {
    background-color: #03dffc;
}

.quiz-red {
    background-color: #fc5203;
}

.quiz-green {
    background-color: #07fc03;
}

.quiz-yellow {
    background-color: #ffc929;
}

.quiz-large {
	width: 45%;
	height: 5%;
	padding-top: 32px
}

.quiz-true {
	background-color: #30d954
}

.quiz-false {
	background-color: #de1d1d
}

.quiz-submit {
    background-color: #f0f0f0;
    display: inline-block;
    padding-right : 32px
}

.quiz-active {
    box-shadow: inset 2px 2px 5px grey;
	opacity: 100%;
}

.quiz-drop {
	display: inline-block;
	height: 25px;
	border: 1px solid #aaaaaa;
	color: #000;
	text-align: center;
	width: 300px;
	margin: 0px 35.5px;
	float: left
}

.quiz-drag {
	padding: 5px;
	border-radius: 5px;
	font-weight: bold;
	text-align: center;
	color: white;
	width: 296px;
	margin: 25px 32.5px;
	float: left
}
