
/*Standard*/
.standardtext {
	color: #a2c4c9; /*Dark*/
}

.standardcontrast {
	background-color: #f9cb9c;	/*Contrast*/
}

.standardhover:hover {
	background-color: #f9cb9c;	/*Contrast*/
}

.standarddark {
	background-color: #a2c4c9; /*Dark*/
}

.standardmain {
	background-color: #d3e3e7; /*Main*/
}

.standardlight {
	background-color: #e6eff1; /*Light*/
}

.standardnav {
	background-color: #d3e3e7; /*Main*/
}

.standardnav a {
	background-color: #e6eff1; /*Light*/
}

.standardnav a:hover {
	background-color: #f9cb9c; /*Contrast*/
}

.standardnav #active {
	background-color: #a2c4c9; /*Dark*/
}

.standardnav button {
	background-color: #d3e3e7;
}

.standardscrollbar ::-webkit-scrollbar {
  width: 10px;
}

.standardscrollbar ::-webkit-scrollbar-track {
	background: #e6eff1; /*Light*/
	border-radius: 32px
}
 
.standardscrollbar ::-webkit-scrollbar-thumb {
	background: #a2c4c9; /*Dark*/
	border-radius: 32px
}

.standardscrollbar ::-webkit-scrollbar-thumb:hover {
  background: #f9cb9c; /*Contrast*/
}

/*Cool*/
.cooltext {
	color:#3fad00ff; /*Dark*/
}

.coolcontrast {
	background-color: #008080;	/*Contrast*/
}

.coolhover:hover {
	background-color: #008080;	/*Contrast*/
}

.cooldark {
	background-color: #3fad00ff; /*Dark*/
}

.coolmain {
	background-color: #5af178ff; /*Main*/
}

.coollight {
	background-color: #98fb98; /*Light*/
}

.coolnav {
	background-color: #5af178ff; /*Main*/
}

.coolnav a {
	background-color: #98fb98; /*Light*/
}

.coolnav a:hover {
	background-color: #008080; /*Contrast*/
}

.coolnav #active {
	background-color: #3fad00ff; /*Dark*/
}

.coolnav button {
	background-color: #5af178ff;
}

.coolscrollbar ::-webkit-scrollbar {
  width: 10px;
}

.coolscrollbar ::-webkit-scrollbar-track {
	background: #98fb98; /*Light*/
	border-radius: 32px
}
 
.coolscrollbar ::-webkit-scrollbar-thumb {
	background: #3fad00ff; /*Dark*/
	border-radius: 32px
}

.coolscrollbar ::-webkit-scrollbar-thumb:hover {
  background: #008080; /*Contrast*/
}

/*Warm*/
.warmtext {
	color:#ff5555ff; /*Dark*/
}

.warmcontrast {
	background-color: #dc143c;	/*Contrast*/
}

.warmhover:hover {
	background-color: #dc143c;	/*Contrast*/
}

.warmdark {
	background-color: #ff5555ff; /*Dark*/
}

.warmmain {
	background-color: #ffe1e1ff; /*Main*/
}

.warmlight {
	background-color: #ffffff; /*Light*/
}

.warmnav {
	background-color: #ffe1e1ff; /*Main*/
}

.warmnav a {
	background-color: #ffffff; /*Light*/
}

.warmnav a:hover {
	background-color: #dc143c; /*Contrast*/
}

.warmnav #active {
	background-color: #ff5555ff; /*Dark*/
}

.warmnav button {
	background-color: #ffe1e1ff;
}

.warmscrollbar ::-webkit-scrollbar {
  width: 10px;
}

.warmscrollbar ::-webkit-scrollbar-track {
	background: #ffffff; /*Light*/
	border-radius: 32px
}
 
.warmscrollbar ::-webkit-scrollbar-thumb {
	background: #ff5555ff; /*Dark*/
	border-radius: 32px
}

.warmscrollbar ::-webkit-scrollbar-thumb:hover {
  background: #dc143c; /*Contrast*/
}

/*Neutral*/
.neutraltext {
	color:#7b7b7bff; /*Dark*/
}

.neutralcontrast {
	background-color: #b09171ff;	/*Contrast*/
}

.neutralhover:hover {
	background-color: #b09171ff;	/*Contrast*/
}

.neutraldark {
	background-color: #7b7b7bff; /*Dark*/
}

.neutralmain {
	background-color: #ffffff; /*Main*/
}

.neutrallight {
	background-color: #e3e3e3ff; /*Light*/
}

.neutralnav {
	background-color: #ffffff; /*Main*/
}

.neutralnav a {
	background-color: #e3e3e3ff; /*Light*/
}

.neutralnav a:hover {
	background-color: #b09171ff; /*Contrast*/
}

.neutralnav #active {
	background-color: #7b7b7bff; /*Dark*/
}

.neutralnav button {
	background-color: #ffffff;
}

.neutralscrollbar ::-webkit-scrollbar {
  width: 10px;
}

.neutralscrollbar ::-webkit-scrollbar-track {
	background: #e3e3e3ff; /*Light*/
	border-radius: 32px
}
 
.neutralscrollbar ::-webkit-scrollbar-thumb {
	background: #7b7b7bff; /*Dark*/
	border-radius: 32px
}

.neutralscrollbar ::-webkit-scrollbar-thumb:hover {
  background: #b09171ff; /*Contrast*/
}

/*Dark*/

.darktext {
	color: #7f7182ff;
}

.darkcontrast {
	background-color: #ffd966ff;
}

.darkhover:hover {
	background-color: #ffd966ff;	/*Contrast*/
}

.darkdark {
	background-color: #7f7182ff;
}

.darkmain {
	background-color: #594f5fff;
}

.darklight {
	background-color: #252128ff;
}

.darknav {
	background-color: #594f5fff;
}

.darknav a {
	background-color: #252128ff;
}

.darknav a:hover {
	background-color: #ffd966ff;
}

.darknav #active {
	background-color: #7f7182ff;
}

.darknav button {
	background-color: #594f5fff;
}

.darkscrollbar ::-webkit-scrollbar {
  width: 10px;
}

.darkscrollbar ::-webkit-scrollbar-track {
	background: #252128ff;
	border-radius: 32px
}
 
.darkscrollbar ::-webkit-scrollbar-thumb {
	background: #7f7182ff;
	border-radius: 32px
}

.darkscrollbar ::-webkit-scrollbar-thumb:hover {
  background: #ffd966ff;
}

/*High Contrast*/

.highcontrasttext {
	color: #7b7b7bff;
}

.highcontrastcontrast {
	background-color: #00ecffff;
}

.highcontrasthover:hover {
	background-color: #00ecffff;	/*Contrast*/
}

.highcontrastdark {
	background-color: #7b7b7bff;
}

.highcontrastmain {
	background-color: #f9ff00ff;
}

.highcontrastlight {
	background-color: #ff0000ff;
}

.highcontrastnav {
	background-color: #f9ff00ff;
}

.highcontrastnav a {
	background-color: #ff0000ff;
}

.highcontrastnav a:hover {
	background-color: #00ecffff;
}

.highcontrastnav #active {
	background-color: #7b7b7bff;
}

.highcontrastnav button {
	background-color: #f9ff00ff;
}

.highcontrastscrollbar ::-webkit-scrollbar {
  width: 10px;
}

.highcontrastscrollbar ::-webkit-scrollbar-track {
	background: #ff0000ff;
	border-radius: 32px
}
 
.highcontrastscrollbar ::-webkit-scrollbar-thumb {
	background: #7b7b7bff;
	border-radius: 32px
}

.highcontrastscrollbar ::-webkit-scrollbar-thumb:hover {
  background: #00ecffff;
}

/*Low Contrast*/

.lowcontrasttext {
	color: #9f9f9fff;
}

.lowcontrastcontrast {
	background-color: #b5aea5ff;
}

.lowcontrasthover:hover {
	background-color: #b5aea5ff;	/*Contrast*/
}

.lowcontrastdark {
	background-color: #9f9f9fff;
}

.lowcontrastmain {
	background-color: #b7b7b7ff;
}

.lowcontrastlight {
	background-color: #c5c5c5ff;
}

.lowcontrastnav {
	background-color: #b7b7b7ff;
}

.lowcontrastnav a {
	background-color: #c5c5c5ff;
}

.lowcontrastnav a:hover {
	background-color: #b5aea5ff;
}

.lowcontrastnav #active {
	background-color: #9f9f9fff;
}

.lowcontrastnav button {
	background-color: #b7b7b7ff;
}

.lowcontrastscrollbar ::-webkit-scrollbar {
  width: 10px;
}

.lowcontrastscrollbar ::-webkit-scrollbar-track {
	background: #c5c5c5ff;
	border-radius: 32px
}
 
.lowcontrastscrollbar ::-webkit-scrollbar-thumb {
	background: #9f9f9fff;
	border-radius: 32px
}

.lowcontrastscrollbar ::-webkit-scrollbar-thumb:hover {
  background: #b5aea5ff;
}

/*Sacraments*/
.Sacramentstext {
	color: #23510fff;
}

.Sacramentscontrast {
	background-color: #FF7FAE;
}

.Sacramentshover:hover {
	background-color: #FF7FAE;	/*Contrast*/
}

.Sacramentsdark {
	background-color: #8333E9;
}

.Sacramentsmain {
	background-color: #FFC6BF;
}

.Sacramentslight {
	background-color: #F0F7F1;
}

.Sacramentsnav {
	background-color: #FFC6BF;
}

.Sacramentsnav a {
	background-color: #F0F7F1;
}

.Sacramentsnav a:hover {
	background-color: #FF7FAE;
}

.Sacramentsnav #active {
	background-color: #8333E9;
}

.Sacramentsnav button {
	background-color: #FFC6BF;
}

.Sacramentsscrollbar ::-webkit-scrollbar {
  width: 10px;
}

.Sacramentsscrollbar ::-webkit-scrollbar-track {
	background: #F0F7F1;
	border-radius: 32px
}
 
.Sacramentsscrollbar ::-webkit-scrollbar-thumb {
	background: #8333E9;
	border-radius: 32px
}

.Sacramentsscrollbar ::-webkit-scrollbar-thumb:hover {
  background: #FF7FAE;
}

/* Name Pallates */
/*Nathan*/
.Nathantext {
	color: #13c5cf; /*Dark*/
}

.Nathancontrast {
	background-color: #13c5cf;	/*Contrast*/
}

.Nathanhover:hover {
	background-color: #13c5cf;	/*Contrast*/
}

.Nathandark {
	background-color: #13c5cf; /*Dark*/
}

.Nathanmain {
	background-color: #13c5cf; /*Main*/
}

.Nathanlight {
	background-color: #13c5cf; /*Light*/
}

.Nathannav {
	background-color: #13c5cf; /*Main*/
}

.Nathannav a {
	background-color: #13c5cf; /*Light*/
}

.Nathannav a:hover {
	background-color: #13c5cf; /*Contrast*/
}

.Nathannav #active {
	background-color: #13c5cf; /*Dark*/
}

.Nathannav button {
	background-color: #13c5cf; /*Main*/
}

.Nathanscrollbar ::-webkit-scrollbar {
  width: 10px;
}

.Nathanscrollbar ::-webkit-scrollbar-track {
	background: #13c5cf; /*Light*/
	border-radius: 32px
}
 
.Nathanscrollbar ::-webkit-scrollbar-thumb {
	background: #13c5cf; /*Dark*/
	border-radius: 32px
}

.Nathanscrollbar ::-webkit-scrollbar-thumb:hover {
  background: #13c5cf; /*Contrast*/
}

