@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/*Responsive Layout*/
@media screen and (max-width : 1700px ){
	.record-inside h3 {
		font-size: 16px;
		padding-top: 4px;
		width: 70%
	}
	.record-inside h5 {
		font-size: 16px;
		padding-top: 4px;
		width: 70%
	}
	.record-inside {
		width: 20%;
		padding-left: 8px;
		padding-right: 8px;
	}
	.record-key .RI-text {
		width: 19%
	}
	.record-value .RI-text {
		width: 19%
	}
	.navbar a {
		width: 250px !important
	}
}

@media screen and (max-width : 1570px ){
	.navbar a  {
		width: 175px;
	}
	.navbar {
		height: 200px
	}
	.subjectsquare img {
		width: 200px
	}
	.quiz-button {
		width: 15% !important
	}
}

@media screen and (max-width : 1370px ){
	.navbar {
		height: 200px !important
	}
	#tasks-BR br {
		display: block;
	}
	.record-key .RI-text {
		width: 18%
	}
	.record-value .RI-text {
		width: 18%
	}
	.subjectsquare {
		width: 15% !important
	}
	.subjectsquare img {
		width: 125px
	}
}

@media screen and (max-width : 1170px ){
	.navbar {
		height: 200px !important
	}
	#tasks-BR br {
		display: block;
	}
	.record-key .RI-text {
		width: 17%
	}
	.record-value .RI-text {
		width: 17%
	}
	.subjectsquare {
		width: 15% !important
	}
	.subjectsquare img {
		width: 125px
	}
	
}

@media screen and (max-width : 1000px ){
	.record-key .RI-text {
		width: 16%
	}
	.record-value .RI-text {
		width: 16%
	}
	.subjectsquare {
		width: 50% !important;
	}
	.subjectsquare img {
		width: 300px !important;
	}
}

@media screen and (max-width : 950px ){
	.navbar {
		height: 300px;
	}
	.navbar br {
		display: block;
	}
	#MainProPic {
		display: none;
	}
	#BackupProPic {
		display: block;
	}
}

@media screen and (max-width : 905px ){
	.navbar {
		height: 320px
	}
	.record-key .RI-text {
		width: 15%
	}
	.record-value .RI-text {
		width: 15%
	}
}

@media screen and (max-width : 950px ){
	.record-inside h3 {
		font-size: 14px;
		padding-top: 4px;
		width: 70%
	}
}

@media screen and (max-width : 785px ){
	.navbar a {
		width: 360px;
	}
	.navbar {
		height: 480px
	}
	.record-inside h3 {
		font-size: 10px;
		width: 50%;
	}
	.record-inside h5 {
		font-size: 10px;
		width: 50%;
	}
	.record-inside {
		width: 15%
	}
}
@media screen and (max-width : 515px ){

	.navbar {
		height: 580px
	}
}


* {
    margin: 0;
    padding: 0;
    border: 0;
}

.notnav {
	margin: 5px;
	padding : 5px;
	border : 5px;
}

/*General*/

.main-container {
  float: left;
  position: relative;
  left: 50%;
}
.fixer-container {
  float: left;
  position: relative;
  right: 50%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.SubInfo {
	font-family: Calibri, sans-serif;
	font-size: 14px;
}

.rounded {
	border-radius:16px
}

.hover-opacity {
	opacity: 1
}

.hover-opacity:hover {
	opacity: 0.6
}


.hover-colour {
	color:black;
}

.hover-colour:hover {
	color: #f9cb9cff;
}

.hover-shadow:hover {
	text-shadow: 2px 2px 5px grey;
}

.hover-box {
	display: inline-block;
	border-radius: 8px;
	cursor: pointer;
}

.hover-box:hover {
	box-shadow: 2px 2px 5px grey
}

body {
	overflow-x: hidden
}

h1, h2, h3 {
	font-family:Montserrat;
}

h4, h5, h6 {
	font-family: 'Segoe UI';
	color: #819ca1
}


t {
	font-family:Raleway
}

.button button {
	background-color: #f9cb9cff;
	border-radius: 32px;
	font-family:Comfortaa;
	padding: 4px
	
}

.button button:hover {
	box-shadow: 2px 2px 5px grey
}

.emptycolumn {
	width: 10%;
	float: left;
	height: 200px;
}

.notemptycolumn {
	width: 90%;
	float:right;
}

.bottom {
	margin-top: auto;
	padding-bottom: 8px
}

.subjectsquare {
	border-radius:16px;
	width:20%;
	text-align: center;
	height: 230px;
	display: inline-flex;
	flex-direction: column;
	float:left;
	margin-right: 16px;
	margin-top: 16px;
	object-fit: contain;
}

.subjectsquarefull {
	border-radius:16px;
	width:20% !important;
	text-align: center;
	height: 230px;
	display: inline-flex;
	flex-direction: column;
	float:left;
	margin-right: 16px;
	margin-top: 16px;
	object-fit: contain;
}

.subjectsquare img, h2{
	text-align: center;
	padding: 0px 0px 0px 0px!important;
	display: inline;
	overflow: hidden;
	margin: auto;
}

.subjectsquare:hover {
	box-shadow: 2px 2px 5px grey
}

/*Homepage*/
.homepage-stats {
	border-radius: 16px;
	margin: 16px;
	background-color: white;
	width: 30%;
	float: right;
	padding: 16px;
	height: 700px
}

.homepage-settings {
	overflow-x: hidden;
	overflow-y: scroll;
	height: 300px;
	width: 92%;
	float: right;
	padding: 8px
}
.homepagesubtext {
	font-size: 36px;
	font-family: 'Segoe UI';
}

/*Log In*/
.loginside {
	width: 50%;
	float: left;
	background-color: #e6eff1;
	height: 100%;
	text-align: center;
	padding: 16% 32px 100%;
	align-items: center
}

#LoginTitle {
	color: #f9cb9c;
	font-size: 128px;
	padding: 16px;
}

input {
	border-radius: 64px;
	border-color: white;
	background-color: white;
	text-align: center;
	height: 48px;
	margin: 8px;
	font-size: 16px;
	width: 512px;
	font-family:Comfortaa;
	color: #a2c4c9;
}

#inputsubtext {
	color: #a2c4c9 !important;
	font-family:Montserrat !important;
}

#inputsubtext a {
	color: #a2c4c9 !important;
	font-family:Montserrat !important;
	padding: 8px 0px
}

#loginbutton {
	border-radius: 32px;
	background-color: #f9cb9c;
	height: 36px;
	width: 400px;
	font-family:Comfortaa;
	font-size: 16px;
	margin: 8px
}

#loginbutton:hover {
	box-shadow: 2px 2px grey
}

/*Pallete Overlay*/
.overlay {
	position: fixed; /* Sit on top of the page content */
	display: none; /* Hidden by default */
	text-align: center;
	width: 100%; /* Full width (cover the whole page) */
	height: 100%; /* Full height (cover the whole page) */
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.5); /* Black background with opacity */
	z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
	cursor: pointer; /* Add a pointer on hover */
}

.overlaybox {
	border-radius: 32px;
	width: 90%;
	height: 90%;
	display: inline-block;
	padding: 16px;
	margin: 32px
}

.overlayboxcontainer {
	overflow-x: hidden;
	overflow-y: scroll;
}
/*Navbar*/

.navbar {
	height: 110px;
}

.navbar br {
	display: none;
}

.navbar a {
	display:inline-block;
	font-family:Comfortaa;
	float:left;
	padding: 25px 8px 8px 8px;
	text-align: center;
	margin-left: 8px;
	margin-right: 8px;
	margin-top: 16px;
	height: 40px;
	width: 300px;
	border-radius:32px;
	font-size: 18px;
}

.navbar #Tasks-BR br {
	display: none;
}

#active {
	box-shadow: inset 2px 2px 5px grey;
	border-radius: 64px
}

.navbar a:hover {
	box-shadow: 2px 2px 5px grey;
	border-radius: 64px
}

.navbar li {
	float: left;
	list-style: none;
}

#MainProPic {
	display: block;
}


#BackupProPic {
	display: none;
}

/*Sidebar*/
/*Sidebar Animation*/

.sidebaranimate {
	position:relative;
	animation:animateright 0.4s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}
}

/*Partial Sidebar*/
.partialsidebar {
	height: 100%;
	width: 400px;
	background-color: #fff;
	position:fixed!important;
	z-index:1;
	overflow:auto;
	float: right;
}

.partialsidebar button {
	background-color: white;
	font-size: 32px;
	padding:32px
}

.partialsidebar button:hover {
	text-shadow: 2px 2px 5px grey;
}

.partialsidebar t, h1, h2, h3, h4, h5, h6, a {
	padding-left: 32px;
	text-decoration: none;
	color: black
}

/*Full Sidebar*/
.fullsidebar {
	height:100%;
	width:100%;
	background-color: #fff;
	position:fixed!important;
	z-index:1;
	overflow:auto;
	float: right;
}

.fullsidebar button {
	background-color: white;
	font-size: 32px;
	padding:32px
}

.fullsidebar button:hover {
	text-shadow: 2px 2px 5px grey;
}

/*Tasks*/
.tasks-topiccolumn {
	display: block;
	float: left;
	width: 20%;
}

.tasks-subjectsquare {
	border-radius:16px;
	text-align: center;
	height: 230px;
	width: 300;
	display: inline-flex;
	flex-direction: column;
	float:left;
	margin-right: 16px;
	margin-top: 16px;
	object-fit: contain;
}

.tasks-subjectsquare:hover {
	box-shadow: 2px 2px 5px grey
}

.tasks-info {
	border-radius: 16px;
	width: 78%;
	margin-top: 16px;
	margin-bottom: 16px;
	float: right;
	padding: 8px;
	text-align: center;
	box-shadow: 2px 2px 5px grey;
	max-height: 700px;
	overflow-y: scroll;
	overflow-x: hidden;
}

.tasks-info t {
	font-size: 20px
}

.activetask {
	box-shadow: inset 2px 2px 5px grey
}

.tasks-topicscroll {
	overflow-x: hidden;
	overflow-y: scroll;
	padding-bottom: 8px;
	height:490px
}

.tasks-beginquiz {
	width: 97%;
	display: inline-block;
	border-radius: 32px;
	font-family:Comfortaa;
	padding: 8px;
	margin: 12px 8px 8px 8px;
	float: left;
}

.tasks-beginquiz:hover {
	box-shadow: 2px 2px 5px grey
}

.tasks-topic {
	width: 90%;
	padding: 8px;
	text-align: center;
	font-family:Comfortaa;
	border-radius: 32px;
	margin-top: 16px
}

.tasks-topic:hover {
	box-shadow: 2px 2px 5px grey
}

.info-scrollbox {
	overflow-x: hidden;
	overflow-y: scroll;
	height: 600px;
	float: right;
	max-height: 1000px;
}

/*Record*/
.record-key {
	border-radius: 64px;
	padding: 0px;
	width: 89%;
	height: 75px;
}

.record-value {
	border-radius: 64px;
	padding: 0px !important;
	width: 89%;
	margin-top: 16px;
	height: 70px;
}

.record-inside {
	display:inline-block;
	font-family:Comfortaa;
	float:left;
	padding: 8px 8px 8px 8px;
	text-align: center;
	margin-left: 8px;
	margin-right: 8px;
	margin-top: 16px;
	border-radius:32px;
	font-size: 18px;
}

.RI-text {
	width: 20%
}

.RI-divider {
	width: 1%
}

.record-bottom {
	margin-bottom: 16px;
	text-align: center;
	width: 89%;
	padding: 16px;
}

/*Quiz*/
.quiz-quizbox {
	width: 89%;
	margin-top: 36px;
	margin-bottom: 36px;
	border-radius: 16px;
	box-shadow: 2px 2px 5px grey;
	text-align: center;
	padding: 8px
}

.quiz-quizbox h1, img, t {
    padding: 8px;
}

.quiz-quizbox img {
    border-radius:32px
}

.quiz-button {
    width : 20%;
    padding: 16px;
    border-radius: 8px;
    color: white;
    font-family: Comfortaa;
    margin: 20px;
	opacity: 70%;
}

.quiz-button:hover {
    box-shadow: 2px 2px 5px grey
}

.quiz-left {
    float: left
}

.quiz-right {
    float: right
}

.quiz-blue {
    background-color: #03dffc;
}

.quiz-red {
    background-color: #fc5203;
}

.quiz-green {
    background-color: #07fc03;
}

.quiz-yellow {
    background-color: #ffc929;
}

.quiz-large {
	width: 45%;
	height: 5%;
	padding-top: 32px
}

.quiz-true {
	background-color: #30d954
}

.quiz-false {
	background-color: #de1d1d
}

.quiz-submit {
    background-color: #f0f0f0;
    display: inline-block;
    padding-right : 32px;
	margin-bottom: 0px
}

.quiz-active {
    box-shadow: inset 2px 2px 5px grey;
	opacity: 100%;
}

.quiz-drag {
	width: 20%;
	font-family: Comfortaa;
	color: white;
	border-radius: 16px;
	padding: 16px;
	margin: 8px 16px;
}

.quiz-drop {
	width: 20%;
	height: 3%;
	font-family: Comfortaa;
	background-color: lightgrey;
	border-radius: 16px;
	padding: 16px;
	margin: 8px 16px
}
