
.pagetop {
	position: fixed;
	background-color: lightgray;
}
.header {
  padding: 30px;
  text-align: center;
  background: white;
}
@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  object-fit: contain;
  text-align: center;
  font-family: Georgia;
}
.leftcolumn {
  float: left;
  width: 50%;
}
.rightcolumn {
  float: right;
  width: 49%;
  padding-left: 5px;
}
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: cadetblue;
}

.navbar {
  overflow: hidden;
  background-color: cyan;
  font-family: Georgia;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.fullcolumn {
  float: left;
  width: 100%;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/*Sixth Columns*/
.Sixth1 {
	float: left;
  	width: 15.67%;
  	padding-left: 15px;
}
.Sixth2 {
	float: left;
  	width: 15.67%;
  	padding-left: 15px;
}
.Sixth3 {
	float: left;
  	width: 15.67%;
  	padding-left: 15px;
}
.Sixth4 {
	float: left;
  	width: 15.67%;
  	padding-left: 15px;
}
.Sixth5 {
	float: left;
  	width: 15.67%;
  	padding-left: 15px;
}
.Sixth6 {
	float: left;
  	width: 15.67%;
  	padding-left: 15px;
}
